{{!-- Task List Start --}}
<h1 class="page-header">Todo List <a href="/add-task" class="btn btn-success pull-right">Add Task</a></h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Task List <span class="badge">5</span></h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                Task 1
            </li>
            <li class="list-group-item">
                Task 2
            </li>
            <li class="list-group-item">
                Task 3
            </li>
            <li class="list-group-item">
                Task 4
            </li>
            <li class="list-group-item">
                Task 5
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        Last Updated : 
    </div>
</div>
{{!-- Task List End --}}